<div class='courses'>
	<div class='course'>
		<img width="113" height="124" src="/img/courses/java-icon.png" />
		<div class='details'>
			<h3>Introduction to Java</h3>
			<p class='summary'>This is an introduction to Java, designed for beginners and focused on Android development. The course will cover basic programming concepts, methods, conditionals, loops, objects and classes, inheritance and interfaces, ArrayLists and HashMaps, and some basic drawing. There will a programming project that we will help you display on your website.
			</p>
			<!-- %p.sessions #{course.num_sessions} sessions Price: $#{course.price} -->
			<p class='sessions'>One day, Weekdays or Weekend</p>
			<p class='action'>
				<a class="btn btn-learn" data-course-id="intro_java" data-course-title="Introduction to Java" href="/">Learn More</a>
			</p>
		</div>
	</div>
	<div class='course'>
		<img width="113" height="124" src="/img/courses/android-icon.png" />
		<div class='details'>
			<h3>Android Intensive</h3>
			<p class='summary'>This is an introduction to developing apps for the Android platform. The course will cover using the required developer tools, app fundamentals like activities and intents, layout managers, basic controls like buttons and lists, styling, menus and dialogs, supporting multiple screens, and publishing your app. You will develop your own Android App through the course.
			</p>
			<!-- %p.sessions #{course.num_sessions} sessions Price: $#{course.price} -->
			<p class='sessions'>2-day intensive, Weekend</p>
			<p class='action'>
				<a class="btn btn-learn" data-course-id="android-intensive" data-course-title="Android Intensive Course" href="/androidbootcamp">Learn More</a>
			</p>
		</div>
	</div>

</div>

<div class='courses'>
	<div class='course'>
		<img width="113" height="124" src="/img/courses/objc-icon.png" />
		<div class='details'>
			<h3>Introduction to Objective-C</h3>
			<p class='summary'>This is an introduction to Objective-C, designed for beginners and focused on iPhone development in XCode. This course will cover basic programming concepts, methods, loops, objects, arrays and dictionaries and some simple drawing. There will be several projects you will create as a part of this course.
			</p>
			<!-- %p.sessions #{course.num_sessions} sessions Price: $#{course.price} -->
			<p class='sessions'>One day, Weekdays or Weekend</p>
			<p class='action'>
				<a class="btn btn-learn" data-course-id="intro_objc" data-course-title="Introduction to Objective-C" href="/">Learn More</a>
			</p>
		</div>
	</div>
	<div class='course'>
		<img width="113" height="124" src="/img/courses/ios-icon.png" />
		<div class='details'>
			<h3>iOS Intensive</h3>
			<p class='summary'>This is an introduction to developing apps for the iOS platform. The course will cover using the required developer tools, app fundamentals like View and View Controllers, basic controls like buttons and table views, styling, delegates, networking, and publishing your app. You will develop your own iOS App through the course.
			</p>
			<!-- %p.sessions #{course.num_sessions} sessions Price: $#{course.price} -->
			<p class='sessions'>2-day intensive, Weekend</p>
			<p class='action'>
				<a class="btn btn-learn" data-course-id="ios_intensive" data-course-title="iOS Intensive Course" href="/iosbootcamp">Learn More</a>
			</p>
		</div>
	</div>

</div>
