<div class='event-carousel carousel-container' data-arrow-padding='5' data-item-padding='20' data-visible-count='3'>
	<div class='event-viewport carousel-viewport'>

		<div class='event-list carousel-items'>

			<div class='event' data-id='0'>
				<img width="305" src="/img/events/event-image-1.png" />
				<div class='date'>Aug &middot; 15</div>
				<h3><a href="#">Android Tour plus Hands-on Session</a></h3>
				<p>
					2-hour Android Hands-on Learning Session where you can get a tour of the Android platform, ask questions and hack on...
					<a href="#">More</a>
				</p>
			</div>

			<div class='event' data-id='1'>
				<img width="305" src="/img/events/event-image-2.png" />
				<div class='date'>Oct &middot; 10</div>
				<h3><a href="#">Android Tour plus Hands-on Session</a></h3>
				<p>
					2-hour Android Hands-on Learning Session where you can get a tour of the Android platform, ask questions and hack on...
					<a href="#">More</a>
				</p>
			</div>

			<div class='event' data-id='2'>
				<img width="305" src="/img/events/event-image-3.png" />
				<div class='date'>Dec &middot; 12</div>
				<h3><a href="#">Android Tour plus Hands-on Session</a></h3>
				<p>
					2-hour Android Hands-on Learning Session where you can get a tour of the Android platform, ask questions and hack on...
					<a href="#">More</a>
				</p>
			</div>
			<div class='event' data-id='3'>
				<img width="305" src="/img/events/event-image-1.png" />
				<div class='date'>Feb &middot; 13</div>
				<h3><a href="#">Android Tour plus Hands-on Session</a></h3>
				<p>
					2-hour Android Hands-on Learning Session where you can get a tour of the Android platform, ask questions and hack on...
					<a href="#">More</a>
				</p>
			</div>
			<div class='event' data-id='4'>
				<img width="305" src="/img/events/event-image-2.png" />
				<div class='date'>Apr &middot; 10</div>
					<h3><a href="#">Android Tour plus Hands-on Session</a></h3>
					<p>
						2-hour Android Hands-on Learning Session where you can get a tour of the Android platform, ask questions and hack on...
						<a href="#">More</a>
					</p>
				</div>
			<div class='event' data-id='5'>
				<img width="305" src="/img/events/event-image-3.png" />
				<div class='date'>Jun &middot; 12</div>
				<h3><a href="#">Android Tour plus Hands-on Session</a></h3>
				<p>
					2-hour Android Hands-on Learning Session where you can get a tour of the Android platform, ask questions and hack on...
					<a href="#">More</a>
				</p>
			</div>

		</div> <!-- events-list -->
	</div> <!-- carousel-viewport -->
	
	<div class='carousel-arrows'>
		<a class="arrow-prev disabled" href="javascript:void(0);"><img src="/img/events/event-arrow-left-off.png" /></a>
		<a class="arrow-next" href="javascript:void(0);"><img src="/img/events/event-arrow-right.png" /></a>
	</div>

</div> <!-- carousel container -->
