<div class='points'>
	<div class='point'>
		<img width="135" height="154" src="/img/philosophy/hands_on.png" />
		<h3>Hands-on Projects</h3>
		<p>Learning through building projects is both more effective and more fun, so our curriculum is on active participation and real projects.
		</p>
	</div>
	<div class='point'>
		<img width="135" height="154" src="/img/philosophy/curriculum.png" />
		<h3>Open Curriculum</h3>
		<p>We believe that curriculums should always be free and open, so all of our course materials and projects are available even after program.
		</p>
	</div>
	<div class='point'>
		<img width="135" height="154" src="/img/philosophy/teachers.png" />
		<h3>Active Teachers</h3>
		<p>While books and tutorials are a great, coaching while learning is essential, so our training program is based on active coaching.</p>
	</div>
</div>
