<div class='promos'>
	<div class='promo-online selected' data-id='1' style='width: 2400px;'>
		<div class='content' style='display:none'>
		<!-- = image_tag "banners/hero1-content.png", :width => 971, :height => 222 -->
			<img width="976" height="228" src="/img/banners/hero1-content-bootcamp.png" />
			<a class="btn btn-cta scroll" href="/#learn"><span>Learn More</span></a>
		</div>
	</div>
	<div class='promo-workshop' data-id='2'>
		<div class='content'>
			<img width="1007" height="179" src="/img/banners/hero2-content.png" />
			<a class="btn btn-cta scroll" href="/#events"><span>Learn More</span></a>
		</div>
	</div>
	<div class='promo-ta' data-id='3'>
		<div class='content'>
			<img width="1007" height="208" src="/img/banners/hero3-content.png" />
			<a class="btn btn-cta" data-course-id="meet_ta" data-course-title="Virtual TA" href="/"><span>Learn More</span></a>
		</div>
	</div>
</div>
<div class='overlay'>
	<div class='arrows'>
		<a class="arrow-prev" href="javascript:void(0);"><img src="/img/banners/hero-arrow-left.png" /></a>
		<a class="arrow-next" href="javascript:void(0);"><img src="/img/banners/hero-arrow-right.png" /></a>
	</div>
	<div class='bullets' data-selected-url='/img/banners/bullet-icon-selected.png' data-unselected-url='/img/banners/bullet-icon.png'>
		<a data-hero="1" href="javascript:void(0);"><img src="/img/banners/bullet-icon-selected.png" /></a>
		<a data-hero="2" href="javascript:void(0);"><img src="/img/banners/bullet-icon.png" /></a>
		<a data-hero="3" href="javascript:void(0);"><img src="/img/banners/bullet-icon.png" /></a>
	</div>
</div>

