<div class='quote-carousel carousel-container' data-arrow-padding='15' data-item-padding='33' data-visible-count='2'>
	<div class='quote-viewport carousel-viewport'>
		<div class='quote-list carousel-items'>

			<div class='quote'>
				<div class='body'>Nathan was an INCREDIBLE instructor! His knowledgeable instruction, delivery of information, patience and encouragement made Java a fun challenge to tackle.
				</div>
				<div class='author'>
					<img width="75" src="/img/quotes/people/eb.png" />
					<div class='info'>
						<div class='name'>Emily Basileo</div>
						<div class='title'>Java Workshop Student</div>
					</div>
				</div>
			</div>
			
			<div class='quote'>
				<div class='body'>As a tech founder of a startup in SF, Tim obviously has top notch engineering skills, but he's also an incredibly gifted instructor.
				</div>
				<div class='author'>
					<img width="75" src="/img/quotes/people/ns.png" />
					<div class='info'>
						<div class='name'>Nathan Schuett</div>
						<div class='title'>Android Workshop Student</div>
					</div>
				</div>
			</div>
			
			<div class='quote'>
				<div class='body'>Very patient with his students and show a lot of personal care with each topic he reviews. Highly knowledgeable of Java and really enjoys what he does. Great personality!
				</div>
				<div class='author'>
					<img width="75" src="/img/quotes/people/jd.png" />
					<div class='info'>
						<div class='name'>Jon DeBenning</div>
						<div class='title'>Java Workshop Student</div>
					</div>
				</div>
			</div>
			
			<div class='quote'>
				<div class='body'>TAKE THESE CLASSES, they are the BOMB! Tim and Nathan make it wonderfully easy to learn, and I love the mix of practical exercises interspersed into the teaching of concepts and how-tos.
				</div>
				<div class='author'>
					<img width="75" src="/img/quotes/people/kr.png" />
					<div class='info'>
						<div class='name'>Kelly Riggio</div>
						<div class='title'>Java Workshop Student</div>
					</div>
				</div>
			</div>

		</div> <!-- quote-list -->
	</div> <!-- carousel-vewport -->
	<div class='carousel-arrows'>
		<a class="arrow-prev disabled" href="javascript:void(0);"><img src="/img/quotes/quote-arrow-left-off.png" /></a>
		<a class="arrow-next" href="javascript:void(0);"><img src="/img/quotes/quote-arrow-right.png" /></a>
	</div>

</div>