<div class='teacher-list'>
	<div class='teacher'>
		<img width="135" class="picture" src="/img/team/tim.jpg" />
		<h3>
			Timothy Lee
			<a alt="timothy1ee" title="timothy1ee" href="#"><img width="20" src="/img/twitter-icon.png" /></a>
			<a alt="timothy1ee" title="timothy1ee" href="#"><img width="20" src="/img/octocat-icon.png" /></a>
		</h3>
		<p class='quick'>BS Computer Engineering and MS Electrical Engineering from the University of Sydney, Australia.</p>
		<p class='full'>I've been programming web and mobile apps for the last three years. Prior to that, I worked in the robotics industry for four years. That was fun, but I saw the massive shift to web and mobile, and I realized that it was essential I learned these technologies. Since then, I've been helping others learn web and mobile and thinking of better ways to learn and teach online.
		</p>
	</div>
	<div class='teacher'>
		<img width="135" class="picture" src="/img/team/nathan.jpg" />
		<h3>
			Nathan Esquenazi
			<a alt="nesquena" title="nesquena" href="#"><img width="20" src="/img/twitter-icon.png" /></a>
			<a alt="nesquena" title="nesquena" href="#"><img width="20" src="/img/octocat-icon.png" /></a>
		</h3>
		<p class='quick'>BS Information and Computer Science from UNSW, Sydney Australia.</p>
		<p class='full'>I've been working professionally at early-stage startups for the last 10 years developing for web, mobile and desktop across many platforms. I have always been passionate about education, actively tutoring in college, holding workshops for students and volunteering to teach practical technical skills to those that want to learn them.</p>
	</div>

</div> <!-- teacher-list -->

